/*TABLE OF CONTENTS*/
/*  1. RESETS
    2. VARIABLES
    3. MAIN
*/

/*--------------RESETS---------------*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--col-black);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/*--------------VARIABLES---------------*/

:root {
  /*COLORS*/
  --col-green: #66d836;
  --col-black: #414141;
  --col-grey: #6f6f6f;
  --col-white: #fff;

  /*FONT FAMILIES*/
  --ff-primary: SF Pro Display, Arial;
}

/*--------------TEXT STYLES---------------*/


h1,
h2,
h3,
ul,
li,
p {
  font-family: var(--ff-primary);
  color: var(--col-black);
}

p {
  max-width: 70ch;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  padding: 0 2.1rem;
  margin: 1.5rem 0;
  color: var(--col-grey);
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  text-align: center;
  max-width: 50ch;
}

ul {
  list-style: none;
  display: none;
}

li {
  padding: 0 1.3rem;
  cursor: pointer;
  height: auto;
}

li:last-child {
  padding: 0 0 0 1.3rem;
}

/*CUSTOM STYLES*/

.margin-top {
  margin-top: 2rem;
}

.margin-top-triple {
  margin-top: 6rem;
}

.green {
  color: var(--col-green);
}

.white {
  color: var(--col-white);
}

.apple-store {
  height: 3.8rem;
}

.google-play {
  margin-top: 0.3rem;
  height: 5rem;
}

.header {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 70px;
  margin: 2rem auto;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 16px 24px;
  background-color: var(--col-green);
  border-radius: 0.5rem;
  color: var(--col-white);
  transition-duration: 0.3s;
  cursor: pointer;
}

.button a {
  color: white;
  font-size: 1rem;
}

.outline {
  border: 2px solid #ffffff;
  color: white;
  transition-duration: 0.3s;
}

.dark {
  color: var(--col-black);
  border: 2px solid var(--col-black);
  background-color: var(--col-white);
}

.main-text {
  width: 26rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1;
}

.main-landing {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.image-container {
  display: flex;
  align-items: center;
}

.main-image {
  /* visibility: hidden; */
  width: 65%;
  margin: 1rem auto 2rem;
}

.image {
  width: 85%;
  margin: 2rem auto 0;
}

.small-text {
  font-size: 0.7rem;
  color: var(--col-grey);
  margin: 1.2rem 0;
  text-align: center;
  padding: 0;
  max-width: 300px;
}

.container-steps {
  display: flex;
  background-color: var(--col-green);
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8rem 1rem;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step p {
  color: white;
  padding: 0 3rem;
}
.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0.5rem 0 2.5rem;
}

.newsletter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;
}

.news-heading {
  margin: 0 3rem;
  width: 40rem;
  text-align: center;
}

.email-section {
  margin: 3rem 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.subscribe-button {
  background-color: var(--col-green);
  color: var(--col-white);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 1.5rem;
  width: 8rem;
  margin: 1rem;
  letter-spacing: 0.05em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.email-input-box {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 1rem 8rem 1rem 1.5rem;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-reverse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-flex-reverse {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/*HOVER*/

.button:hover {
  background-color: #51c31f;
  /* Button Shadow Plugin */

  box-shadow: 0px 56px 123px rgba(28, 197, 21, 0.15),
    0px 36.2963px 72px rgba(28, 197, 21, 0.12),
    0px 22px 39.1778px rgba(28, 197, 21, 0.13),
    0px 11.2px 19.9875px rgba(28, 197, 21, 0.1),
    0px 4.56296px 10.0222px rgba(28, 197, 21, 0.0981481),
    0px 1.03704px 4.84028px rgba(28, 197, 21, 0.05);
}

.outline:hover {
  background-color: white;
  color: var(--col-black);
}

.outline:hover a {
  color: var(--col-black);
}

.subscribe-button:hover {
  background-color: #51c31f;
}

.pic-shadow {
  /* filter: drop-shadow(0px 134px 192px rgba(20, 20, 20, 0.08))
          drop-shadow(0px 61px 73px rgba(20, 20, 20, 0.0515452))
          drop-shadow(0px 36px 42px rgba(20, 20, 20, 0.0434752))
          drop-shadow(0px 8px 13px rgba(20, 20, 20, 0.0284548)); */
}

/*FOCUS*/

.email-input-box:focus {
  outline: none !important;
  border: 1px solid var(--col-green);
}

/*BURGER MENU ICON*/

.container {
  display: inline-block;
  cursor: pointer;
  justify-self: flex-end;
  transform: scale(0.8);
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--col-green);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -7px);
  transform: rotate(45deg) translate(-9px, -7px);
}

/*--------------MEDIA QUERIES---------------*/

/*Tablet*/
@media screen and (min-width: 480px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }

  p {
    padding: 0 3rem;
  }

  .download {
    flex-direction: column;
    justify-content: center;
  }

  .google-play {
    height: 5.5rem;
  }
}

/*Laptop*/
@media screen and (min-width: 1100px /*768px*/) {
  h1,
  h2,
  h3,
  p {
    text-align: left;
  }

  p {
    padding: 0 5rem 0 0;
  }

  ul {
    display: flex;
  }

  .container {
    display: none;
  }

  .main-text {
    text-align: left;
    margin: 0;
  }

  .download {
    justify-content: flex-start;
    margin: 0;
    flex-direction: row;
  }
  
  .apple-store, .google-play:hover {
    cursor: pointer;
  }

  .main-landing {
    flex-direction: row;
    flex-flow: row-reverse;
    width: 80%;
    margin: 6rem auto 6rem;
  }

  .main-image {
    visibility: visible;
    width: 26rem;
  }

  .email-section {
    flex-direction: row;
    justify-content: center;
  }

  .steps {
    flex-direction: row;
    align-items: flex-start;
  }

  .step {
    text-align: center;
  }

  .step p {
    text-align: center;
    padding: 0 2rem;
  }

  .flex {
    flex-direction: row;
  }

  .flex-reverse {
    flex-direction: row-reverse;
  }

  .image-flex {
    align-items: flex-end;
  }

  .image-flex-reverse {
    align-items: flex-start;
  }

  .reverse-text {
    margin-left: 80px;
  }

  .reverse-text > p {
    padding: 0;
  }

  .image {
    margin: 0;
    width: 500px;
  }

}

/*Desktops*/
@media screen and (min-width: 64em /*1025px*/) {
}

