/*TABLE OF CONTENTS*/
/*  1. RESETS
    2. VARIABLES
    3. MAIN
*/

/*--------------RESETS---------------*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--col-black);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/*--------------VARIABLES---------------*/

:root {
  /*COLORS*/
  --col-green: #66d836;
  --col-black: #414141;
  --col-grey: #6f6f6f;
  --col-white: #fff;

  /*FONT FAMILIES*/
  --ff-primary: SF Pro Display, Arial;
}

/*--------------MAIN---------------*/

h1,
h2,
h3,
ul,
li,
p {
  font-family: var(--ff-primary);
  color: var(--col-black);
}

p {
  max-width: 70ch;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: center;
  padding: 0 2.1rem;
  margin: 1.5rem 0;
  color: var(--col-grey);
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  max-width: 50ch;
  margin: 3rem 0 1rem;
}

ul {
  list-style: none;
}

li {
  padding: 0 1.3rem;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.green {
  color: var(--col-green);
}

.button {
  padding: 16px 24px;
  background-color: var(--col-green);
  border-radius: 0.5rem;
}

.main-text {
  width: 20rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1;
}

.main-image {
  visibility: hidden;
}

.image {
  width: 20rem;
  margin: 0 auto;
}
.small-text {
  font-size: 0.7rem;
  color: var(--col-grey);
  margin: 0.5rem 0;
}

.steps {
  background-color: var(--col-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.5rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step p {
  color: white;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-items: center;*/
  width: 100%;
  margin: 2.5rem 0;
}

.apple-store {
  height: 3.8rem;
}

.google-play {
  margin-top: 0.3rem;
  height: 5rem;
}

.newsletter {
  margin: 5rem 0;
}

.news-heading {
  margin: 0 3rem;
}

.email-section {
  margin: 1.5rem 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-button {
  background-color: var(--col-green);
  color: var(--col-white);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 1.5rem;
  width: 8rem;
  margin: 1rem;
  letter-spacing: 0.05em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.email-input-box {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 1rem 8rem 1rem 1.5rem;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HOVER*/

.button:hover {

}

.subscribe-button:hover {
  background-color: #51c31f;
}

/*FOCUS*/

.email-input-box:focus {
  outline: none !important;
  border: 1px solid var(--col-green);
}

/*--------------MEDIA QUERIES---------------*/

/*Tablet*/
@media screen and (min-width: 480px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
}

/*Laptop*/
@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  p {
    text-align: left;
  }

  .download {
    flex-direction: row;
  }

  .main-image {
    visibility: visible;
  }

  .email-section {
    flex-direction: row;
  }
}

/*Desktops*/
@media screen and (min-width: 1025px) {
}

/*Large Screens*/
@media screen and (min-width: 1200px) {
}
